# Virtual Environment
venv/
__pycache__/
*.pyc

# ML Models and weights
models/
*.pt
*.pth
*.onnx
!models/
!models/skin_type_mobilenetv2_best.pt
!models/face_detection_yunet_2023mar.onnx

# Datasets
datasets/

# Logs
logs/
*.log
