fastapi==0.110.0
uvicorn==0.27.1
py-eureka-client==0.13.3
python-multipart==0.0.9
PyJWT==2.8.0

opencv-python-headless
mediapipe==0.10.35
Pillow
numpy

tensorflow
keras
keras-cv
torch
torchvision
pandas
scikit-learn
